# Kconfig.defconfig.series - TI SimpleLink Family
#

if SOC_SERIES_CC26XX

source "arch/arm/soc/ti_simplelink/cc2650/Kconfig.defconfig.cc26*"

config SOC_SERIES
	default cc26xx

endif # SOC_SERIES_CC26XX
