# Kconfig.defconfig.cc2650- TI SimpleLink CC2650 SoC
#

if SOC_CC2650

config SOC
	string
	default cc2650

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 48000000

if !HAS_DTS
config SRAM_SIZE
	default 20

config FLASH_SIZE
	default 128
endif # !HAS_DTS

config NUM_IRQS
	int
	# must be >= the highest interrupt number used
	# This includes the NWP interrupt
	default 82

config CC26XXWARE_LIBRARY
	def_bool n

if GPIO

config GPIO_CC26XX
	def_bool y

config GPIO_CC26XX_P0
	default n

endif # GPIO

endif # SOC_CC26XX
