# Kconfig.series - TI SimpleLink CC26xx
#

config  SOC_SERIES_CC26XX
	bool "TI SimpleLink CC26XX Family"
	select CPU_CORTEX_M
	select CPU_CORTEX_M3
	select SOC_FAMILY_TISIMPLELINK
	select CPU_HAS_SYSTICK
	help
	  Enable support for TI SimpleLink CC26xx
